[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataset = "*"
gunicorn = "*"
psycopg2 = "==2.9.3"
python-dateutil = "==2.7.3"
redis = "*"
requests = "*"
Flask-Session = "==0.3.0"
Flask-SSLify = "==0.1.5"
Flask-WTF = "==1.0.1"
WTForms = "*"
flask = "*"

[dev-packages]
ipython = "*"
bpython = "*"

[requires]
python_version = "3.9"
