{% extends 'layout.html' %}

{% block title %}Home page{% endblock %}

{% block content %}

{% include 'macros.html' %}

{{ flash_messages('success') }}

<form id="spotting-form" class="form" method="POST" action="/forms/log/submission">
	<div class="form--control-group">
		<label for="brand">Brand</label>
		<select id="brand" name="brand" v-model="brand">
			<option></option>
			{% for brand in brands %}
			<option value="{{brand}}">{{brand}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form--control-group" v-show="!brand">
		<label for="brand-free">Brand (other)</label>
		<input id="brand-free" name="brand_free" type="text" v-model="brandFree">
		<div class="suggested-brands-list">
			<ul>
				<li v-for="brand in suggestedBrands" v-on:click="setBrandFree(brand)" class="suggested-brand">[[brand]]</li>
			</ul>
		</div>
	</div>

	<div class="form--control-group">
		<label for="classic">Classic</label>
		<input id="classic" name="classic" type="checkbox">
	</div>
	
	<div class="form--control-group">
		<label for="convertible">Convertible</label>
		<input id="convertible" name="convertible" type="checkbox">
	</div>
	
	<div class="form--control-group">
		<label for="model">Model</label>
		<input id="model" name="model" type="text" v-model="model">
		<div class="suggested-models-list">
			<!-- <pre>[[$data]]</pre> -->
			<ul>
				<li v-for="model in models" v-on:click="setModel(model)" class="suggested-model">[[model]]</li>
			</ul>
		</div>

		<div class="suggested-sub-type-list">
			<!-- <pre>[[$data]]</pre> -->
			<ul>
				<li v-for="subType in modelSubTypes" v-on:click="addSubType(subType)" class="suggested-sub-types">[[subType]]</li>
			</ul>
		</div>
	</div>
	<div class="form--control-group">
		<button class="btn" type="submit">Record</button>
	</div>
</form>
{% endblock %}

{% block scripts %}
<script>
if(document.querySelector(".flash")) {
	setTimeout(() => {
		document.querySelector(".flash").classList.add("s-hidden");
	}, 4000);
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.js"
	crossorigin="anonymous"
	integrity="sha512-/I2PC0BuPX4pgUed1MB0BodK/Wn4LJw3b9NiQVZTau2HrACEmHMf/4qGBiIaFCJsgY5GX4JcsHTP0P2pfSimpA=="></script>

<script src="/static/js/app.js"></script>

{% endblock %}
