{% extends 'layout.html' %}

{% block title %}Home page{% endblock %}

{% block content %}

<form class="form" method="POST" action="/forms/log/submission">
	<div class="form--control-group">
		<label forid="brand">Brand</label>
		<input id="brand" name="brand" type="text" required>
	</div>
	<div class="form--control-group">
		<label forid="model">Model</label>
		<input id="model" name="model" type="text">
	</div>
	<div class="form--control-group">
		<button class="btn" type="submit">Record</button>
	</div>	
</form>
{% endblock %}