{% from "macros.html" import flash_messages %}

<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %} - Car Spotting</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<link rel="manifest" href="/manifest.json">
	</head>

	<body>
	{% block navigation %}
	<nav class="navigation-bar">
		<div class="navigation-bar--home">
			<header>
			<h1>Car spotter</h1>
			</header>
		</div>
	</nav>
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block scripts %}
	{% endblock %}
	</body>
</html>