<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %} - Car Spotting</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	</head>

	<body>
	{% block navigation %}
	<nav class="navigation-bar">
		<div class="navigation-bar--home">
			<header>
			<h1>Car spotter</h1>
			</header>
		</div>

		<div class="navigation-bar--actions">
			{% if user %}
			<div class="navigation-bar--user-info">
				<p>Hello {{user.nickname}}!</p>
			</div>
			{% else %}
			<div class="navigation-bar--actions--login">
					<p><button id="login-button">Login</button></p>
			</div>
			{% endif %}
		</div>

	</nav>
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block scripts %}
	{% endblock %}
	</body>
</html>