{% extends 'layout.html' %}

{% block content %}
<p>Hello world</p>

<script src="https://cdn.auth0.com/js/lock-passwordless-2.2.min.js"></script>
<script type="text/javascript">
  var clientID = '{{config.auth0.client_id}}';
  var domain = '{{config.auth0.domain}}';

  var lock = new Auth0LockPasswordless(clientID, domain);

  function open() {
    lock.emailcode({
      callbackURL: 'http://localhost:5000/callback',
      authParams: {
        scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes 
      }
    });
  }
</script>
<button onclick="window.open();">Email Code</button>
{% endblock %}