
body {
	margin-block: auto;
	margin-top: var(--navigation-bar-height);
	margin-inline: 1.5rem;
	padding-top: 1rem;
	font-family: 'Open Sans', Helevetica, Arial, sans-serif;
	font-size: var(--base-font-size);
	font-display: swap;
}
