
.flash {
	position: absolute;
	padding: 0.5rem 1rem;
	margin: auto;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	height:	40px;
	width: 80vw;
	max-width: 50rem;
	transition-property: all;
	transition-delay: 2s;
	transition-duration: 4s;
}

.flash-success {
	background-color: #a2dd99;
	color: #082600;
	border: 1px solid #082600;
	border-radius: 1px 2px;
}

.flash.s-hidden {
	top: -4rem;
}
