
label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

input[type="text"] {
	line-height: 2.5rem;
	font-size: 1.5rem;
}

input[type="checkbox"] {
	transform: scale(2);
	margin: 1rem;
}

select {
	font-size: 1.5rem;
}


.form {
	display: flex;
	flex-direction: column;
}

.form--control-group {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--base-font-size);
}
