
.navigation-bar {
	display: flex;
	height: 3rem;
	width: 100%;
	max-width: 60rem;
	position: absolute;
	top: 0;
	justify-content: space-between;
}

.navigation-bar--actions {
	justify-content: flex-end;
}