
.navigation-bar {
	display: flex;
	height: var(--navigation-bar-height);
	width: 100%;
	max-width: 60rem;
	position: absolute;
	top: 0;
	justify-content: space-between;
	font-size: 0.75rem;
}

@media(width > 60rem) {
	.navigation-bar {
		font-size: 1rem;
	}
}